* {margin: 0;
padding: 0;
box-sizing: border-box;
}

header{
    height: calc(120px + 32px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
}


header div {
    width: 120px;
    background-image: linear-gradient(90deg, #dbcfc3 0%, #fdbc96 50.52%, #dac2cf 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition:  transform .5s;

}

header div img{
    width: 100%;
    border-radius: 50%;
   
}

header div:hover{
    transform: scale(1.1);
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
}

body{
    background-image: url(./img/bg.gif);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}


body *{
    font-family: 'Montserrat', sans-serif;
}

main{
    margin-top: 32px;
    max-width: 800px;
    width: 90%;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}


section{
    color: white;
    background-image: linear-gradient(90deg, #dbcfc3 0%, #fdbc96 50.52%, #dac2cf 100%);
    padding-top: 4px;
    border-radius: 10px;

}

section div {
    background-color: grey;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

/*
section h2{
    font-weight: 900;
    font-size: 24px;
    letter-spacing:-0.47px;
}


section p{
    font-weight: 400;
    letter-spacing: -0.18px;
}
*/

li img {
    padding-top: 20px;
    width: 100px;
    height: 150px;
    transition: transform .5s;
}

li svg{
    margin-top: 20px;
}
li:hover{
    transform: scale(1.1);
  
}

footer{
    text-align: center;
    color: #dbcfc3;
}
